#about { /* shold i use <section>? */
    justify-content: center;
    z-index: 9;
}

#about img {
    width: 20vw;
    object-fit: contain;
    object-position: center;
}

#about #sec2Cont { /*do give these better names. consider breaking up the css file into smaller ones?*/
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: 5vw;
}

#sec2Cont span {
    font-family: "Inter Tight";
    font-size: 5vh;
}