* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

#pages {
    left: 0;
    width: 85vw;
    height: 300vh;
}

.section {
    position: fixed;
    width: 85vw;
    height: 100vh;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
    background-color: white;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row.vcenter {
    align-items: center;
}

.flex-row.hcenter {
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col.vcenter {
    justify-content: center;
}

.flex-col.hcenter {
    align-items: center;
}

#scrollbar {
    position: fixed;
    top: 50vh;
    right: calc(7.5vw - 17px); /*scrollbar ... how does this apply everywhere else tho?? */
    transform: translateY(-50%) translateX(50%);
    z-index: 11;
}

#scrollbar .scrollitem {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: transparent;
    border: 1.5px solid black;
    margin: 15px 0;
}

#scrollbar .scrollitem.selected {
    background-color: black;
}

#scrollbar .scrollitem:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
    transform: scale(1.1);
}

.arrow {
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 7px;
    height: 7px;
    background-color: white;
}

.arrow.up {
    transform: rotateZ(45deg);
    margin-bottom: 25px;
}

.arrow.down {
    transform: rotateZ(-135deg);
    margin-top: 25px;
}

.arrow.up:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
    transform: translateY(-50%) rotateZ(45deg);
}

.arrow.down:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
    transform: translateY(50%) rotateZ(-135deg);
}