body {
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

#main img {
    object-fit: cover;
    width: 40vw;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 7vw 0 7vw;
    height: 50vh;
}

#navbar {
    display: flex;
}

#navbar ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #content::before {
    content: '';
    position: absolute;
    width: 0px;
    border-left: 50px solid transparent;
    border-top: 50px solid green;
    border-top-style: inset;
} */

#content #greet {
    font-size: 12.7vh;
    font-family: "Inter Tight";
    line-height: 120%;
}

#content #greet_sub {
    font-size: 4.2vh;
    font-family: "Inter Tight";
    line-height: 160%;
}

#content button {
    height: 5vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#section2 {
    width: 100vw;
    height: 100vh;
}