* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

#pages {
    left: 0;
    width: 85vw;
    height: 300vh;
}

.section {
    position: fixed;
    width: 85vw;
    height: 100vh;
    background-color: white;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row.vcenter {
    align-items: center;
}

.flex-row.hcenter {
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col.vcenter {
    justify-content: center;
}

.flex-col.hcenter {
    align-items: center;
}

#home {
    z-index: 10;
}

@keyframes moveUp {
    from {transform: translateY(0);}
    to {transform: translateY(-100%);}
}

@keyframes moveDown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

#home img {
    display: flex;
    object-fit: cover;
    width: 40vw;
    height: 100vh;
}

#container {
    height: 100vh;
    width: 45vw;
    padding-left: 7vw;
}

#logo {
    margin-bottom: 7vh;
}

#logo div {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
}

#logo span {
    margin-left: 2vh;
    font-size: 4vh;
    font-family: "Playfair Display";
}

#navbar {
    display: flex;
    margin-bottom: 7vh;
}

#navbar ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
    margin-right: 50px;
}

#navbar a {
    color: black;
}

#greet {
    font-size: 12.7vh;
    font-family: "Inter Tight";
    line-height: 120%;
}

#greet_sub {
    font-size: 4.2vh;
    font-family: "Inter Tight";
    line-height: 160%;
}

#mainBtn { /*use consistent naming. underscores or dashes or camelcase. not all of it*/
    height: 7vh;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#follow {
    display: none;
    height: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

#follow span {
    margin-right: 20px;
}

#follow img {
    height: 20px;
    width: auto;
    object-fit: cover;
    margin-right: 30px;
}

#scrollbar {
    position: fixed;
    top: 50vh;
    right: calc(7.5vw - 17px); /*scrollbar ... how does this apply everywhere else tho?? */
    transform: translateY(-50%) translateX(50%);
    z-index: 11;
}

#scrollbar .scrollitem {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: transparent;
    border: 1.5px solid black;
    margin: 15px 0;
}

#scrollbar .scrollitem.selected {
    background-color: black;
}

#scrollbar .scrollitem:hover {
    cursor: pointer;
    transition: all 0.2s ease-out;
    transform: scale(1.1);
}

.arrow {
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 7px;
    height: 7px;
    background-color: white;
}

.arrow.up {
    transform: rotateZ(45deg);
    margin-bottom: 25px;
}

.arrow.down {
    transform: rotateZ(-135deg);
    margin-top: 25px;
}

.arrow.up:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
    transform: translateY(-50%) rotateZ(45deg);
}

.arrow.down:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
    transform: translateY(50%) rotateZ(-135deg);
}

#about { /* shold i use <section>? */
    justify-content: center;
    z-index: 9;
}

#about img {
    width: 20vw;
    object-fit: contain;
    object-position: center;
}

#about #sec2Cont { /*do give these better names. consider breaking up the css file into smaller ones?*/
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: 5vw;
}

#sec2Cont span {
    font-family: "Inter Tight";
    font-size: 5vh;
}

#work {
    z-index: 8;
}

#work_title {
    width: 100%;
    padding-bottom: 5vh;
}

#work_title h1 {
    font-family: "Inter Tight";
    font-size: 4.1vh;
    line-height: 100%;
    margin: 0;
    font-weight: normal;
}

#work_title hr {
    display: none;
    height: 1px;
    background-color: black;
    border: 0.5px solid;
    width: 85%;
    align-self: flex-end;
    margin-right: 0;
    margin-bottom: 0;
}

#work_content {
    width: 60vw;
}

#work_content_pic {
    width: 30vw;
    height: 50vh;
    object-fit: cover;
}

#work_content_container {
    align-items: stretch;
    padding-left: 5vw;
}

#work_content_container_title {
    font-family: "Inter Tight";
    font-size: 5vh;
}

#work_content_container_subtitle {
    justify-content: flex-start;
    color: gray;
    font-size: 2vh;
    padding-top: 5px;
}

#work_content_container_subtitle img {
    height: 2.6vh;
    width: 2.6vh;
    object-fit: contain;
    margin-left: 10px;
}

#work_content_container_paragraph {
    padding-bottom: 10px;
}

#work_content_container button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 6vh;
    width: 30%;
}

#work_content_container button div {
    width: 7px;
    height: 7px;
    transform: rotateZ(45deg);
    margin-left: 15px;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

#work_content_container button:hover div {
    transition: all 0.2s ease-out;
    transform: translateX(100%) rotateZ(45deg);
    cursor: pointer;
}

#work_scroll {
    width: 100%;
    justify-content: flex-end;
    padding-top: 20px;
}

#work_scroll .scrollitem {
    width: 25px;
    height: 25px;
    justify-content: center;
    border: 1px solid;
    border-radius: 100%;
    font-size: 12px;
    margin-left: 20px;
}

#work_scroll .scrollitem.selected {
    background-color: black;
    border: 1px solid black;
    color: white;
}

#work_scroll .scrollitem:hover {
    cursor: pointer;
    transition: all 0.1s ease-out;
    transform: scale(1.1);
}

#work_scroll #work_scroll_more {
    border: none;
    width: auto;
}

