#follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

    font-size: 14px;
    margin-top: 25px;
}

#follow img {
    height: 21px;
    object-fit: cover;
}

#resume-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

    align-self: flex-end;

    margin-top: 17px;
    font-size: 14px;
}