body {
	margin: 10vh 0;
}

#back-to-top {
	position: fixed;
	width: 50px;
	height: 50px;
	right: 20px;
	bottom: 20px;
}

#navbar {
	width: 60vw;
	padding: 0 1vh 8vh 1vh;
}

#article-header {
	width: 60vw;
}

#article-data {
	padding: 2vh;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#publish-data img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	object-fit: cover;
}

#author-name {
	font-size: 120%;
}

#publish-date {
	font-size: 80%;
}

#share-data {
	font-size: 95%;
	align-items: flex-end;
	justify-content: flex-end;
}

#article-content {
	counter-reset: table-count;
	counter-reset: fig-count;
	width: 45vw;
	font-family: "Georgia";
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	counter-reset: fig-count;
}

.article-title-1 {
	font-size: 8vh;
    font-family: "Inter Tight";
    line-height: 100%;
    margin: 0 0 4vh 0;
    font-weight: normal;
}

.article-title-2 {
	font-size: 4.3vh;
    font-family: "Inter Tight";
    line-height: 100%;
    margin: 2.3vh 0;
    font-weight: 500;
}

.article-para {
	position: relative;
	width: 100%;
	text-align: justify;
	margin: 2vh 0;
	line-height: 180%;
}

.quote {
	width: 95%;
	background-color: rgba(10, 10, 10, 0.1);
	padding: 0 2vh 0 20px; /*i dont like how i put 2vh here. its the margin from.para*/
	border-left: 5px solid rgba(10, 10, 10, 0.3);
	font-style: italic;
	color: rgb(25, 25, 25);
	font-size: 90%;
	align-self: center;

	/*border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;*/
}

.article-table {
	align-self: center;
	margin: 2vh 0;
}

.article-table td {
	padding: 5px;
	text-align: center;
	border: 1px solid;
}

.article-table tr td:nth-child(1) {
	text-align: right;
}

.article-table .empty-cell {
	border: 0;
}

.article-table caption {
	caption-side: bottom;
	margin-top: 2vh;
	font-size: 90%;
}

.article-table-count {
	font-weight: bold;
}

.article-table-count::after {
	content: "\00a0" counter(table-count) ":\00a0";
	counter-increment: table-count;
}

.middle-figure {
	width: 90%;
	align-self: center;
	margin: 2vh 0;
}

.middle-figure img {
	width: 100%;
	height: 50vh;
	object-fit: cover;
}

.middle-figure .svg-graph {
	width: 100%;
	height: 50vh;
}

.middle-figure figcaption {
	margin-top: 15px;
	font-size: 95%;
	text-align: center;
}

.middle-figure figcaption::before {
	content: "Figure\00a0" counter(fig-count) ":\00a0";
	counter-increment: fig-count;
}

.middle-multi-figure {
	width: 100%;
	align-self: center;
	margin: 2vh 0;
	justify-content: space-between;
	counter-reset: subfig-count;
}

.middle-multi-figure figcaption {
	padding-top: 0px;
	min-height: 4vh;
	font-size: 90%;
	line-height: 120%;
	text-align: center;
}

.middle-multi-figure .subfigure {
	margin: 1vh;
}

.middle-multi-figure .subfigure img {
	width: 100%;
}

.middle-multi-figure .subfigure .svg-graph {
	width: 100%;
	height: 30vh; /* allow control over this. */
}

.middle-multi-figure .subfigure figcaption {
	padding-top: 10px;
	min-height: 4vh;
	font-size: 80%;
	line-height: 120%;
	text-align: center;
}

.side-figure {
	position: absolute;
	width: 20vw;
	margin: 0;
	top: 0;
	max-height: 54vh;
}

.side-figure.limit-height {
	height: 100%;
}

.side-figure img {
	object-fit: cover;
	height: calc(100% - 4vh - 10px);
	max-height: 50vh;
}

.side-figure .svg-graph {
	height: calc(100% - 4vh - 10px);
	max-height: 50vh;
}

.side-figure figcaption {
	padding-top: 10px;
	min-height: 4vh;
	font-size: 90%;
	line-height: 120%;
}

.side-figure-left {
	left: -20vw;
	padding-right: 20px;
	justify-content: flex-end;
}

.side-figure-right {
	right: -20vw;
	padding-left: 20px;
}

.side-figure-left figcaption {
	text-align: right;
}

.side-figure-right figcaption {
	text-align: left;
}

.figure-count {
	font-weight: bold;
}

.figure-count::after {
	content: "\00a0" counter(fig-count) ":\00a0";
	counter-increment: fig-count;
}

.subfigure-count::after {
	content: "(" counter(subfig-count) ")";
	counter-increment: subfig-count;
}

.figure-source::before {
	content: "Source:\00a0";
}

.references-list {
	counter-reset: ref-list;
	list-style-type: none;
	line-height: 180%;
}

.references-list li::before {
	content: "[" counter(ref-list) "]";
	position: absolute;
	display: inline-block;
	text-align: right;
	width: 30px;
	padding-right: 7px;
	transform: translateX(-100%);
	counter-increment: ref-list;
}

.references-list li {
	margin: 1.5vh 0;
}

#feedback {
	padding-top: 2vh;
	width: 55vw;
}

#feedback #thanks {
	font-size: 95%;
}

#feedback form {
	width: 70%;
}

#feedback form .tbox {
	background-color: transparent;
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 1.3vh 0;
	font-family: "Roboto";
}

#feedback form textarea {
	width: 100%;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px;
	margin: 1.3vh 0;
	font-family: "Roboto";
	resize: none;
}

#feedback form .tbox:focus, #feedback form textarea:focus {
	outline: none;
	/*font-size: 100.1%;*/
	transition: all 0.1s ease-in;
	border-bottom: 1px solid black;
}

#feedback form .button {
	align-self: flex-end;
	border: none;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 10px 0;
	margin: 1.3vh 0;
	font-family: Roboto;
	width: 30%;
}