body {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 8vh 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .name-logo {
        justify-content: center;
    }

    & h1 {
        font-family: 'Inter Tight';
        font-size: 60px;
        font-weight: 400;

        margin-top: 10px;
    }

    & .main-nav {
        justify-content: center;

        margin-top: 30px;
    }
}

#blog-content {
    margin-top: 8vh;
    width: 65vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#search {
    width: 25vw;

    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;

    align-self: flex-end;
    padding: 10px 30px 10px 10px;
    text-align: right;
    font-family: 'Instrument Sans';

    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
}

#article-list {
    margin-top: 4vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.article {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    height: 38vh;

    border: 1px solid;
    overflow: hidden;
    background-color: white;
    /*border-radius: 0 20px 20px 0;*/

    transition: all 0.1s ease;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px 1px lightgray;
    }

    &>img {
        width: 33%;
        object-fit: cover;
        overflow: hidden;
    }

    & .details {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;

        padding-left: 30px;
        width: 70%;

        & h2 {
            font-family: 'Inter Tight';
            font-size: 28px;
            font-weight: 400;
        }

        & .article-tags {
            margin-top: 10px;
        }

        & p {
            font-size: 14px;
        }
    }

    & .arrowhead {
        align-self: center;
        margin: 0 25px;
    }
}

.metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    font-size: 13.5px;
    color: rgb(166, 166, 166);

    margin-top: 7px;

    & .date-type {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
    }

    & .techs {
        height: 18px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;

        & img {
            height: 100%;
            object-fit: contain;
        }
    }
}

.article-tags {
    margin: 10px 0 15px 0;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 7px;

    font-size: 12.5px;

    & .tag {
        padding: 2px 7px;
        border-radius: 10px;
        border: 1px solid rgb(161, 161, 161);
        background-color: rgba(206, 206, 206, 0.3);

        &::before {
            content: '#';
        }
    }
}

#scroll {
    margin-top: 6vh;
    width: 50vw;

    font-size: 14px;
    color: darkslategray;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}