#contact .p-container p {
    font-size: 16px;
}

#contact form {
    width: 68%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;

    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;

    font-family: 'Instrument Sans';
}

input[type="submit"] {
    height: 40px;
    padding: 10px 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 5px;

    font-family: 'Instrument Sans';
    font-size: 13px;

    &:hover {
        cursor: pointer;

        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;

        background-color: rgb(213, 213, 213);
    }
}

footer {
    font-size: 14px;
    margin-top: 20px;
}