@keyframes moveUp {
    from {transform: translateY(0);}
    to {transform: translateY(-100%);}
}

@keyframes moveDown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

#home {
    z-index: 10;
}

#home-main-img {
    display: flex;
    object-fit: cover;
    width: 40vw;
    height: 100vh;
}

#logo-container div {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 100%;
}

#logo-text {
    margin-left: 2vh;
    font-size: 4vh;
    font-family: "Playfair Display";
}

#navbar ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
    margin-right: 50px;
}

#home-main-button:hover {
    transition: all 0.3s ease-in;
}

#follow {
    display: none;
    height: 30px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}

#follow span {
    margin-right: 20px;
}

#follow img {
    margin-right: 30px;
}