/* Common Styles */

body {
    margin: 0;
    overflow: hidden;

    font-family: 'Instrument Sans';
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

h1,
h2,
p {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-family: 'Inter Tight';
    font-size: 80px;
}

h2 {
    font-family: 'Inter Tight';
    font-size: 30px;
}

/* Classes for commonly used flex containers

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row.align-t, .flex-col.align-l {
    align-items: flex-start;
}

.flex-row.align-b, .flex-col.align-r {
    align-items: flex-end;
}

.flex-row.align-l, .flex-col.align-t {
    justify-content: flex-start;
}

.flex-row.align-r, .flex-col.align-b {
    justify-content: flex-end;
}

*/

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 5px;

    font-family: 'Instrument Sans';

    &:hover {
        cursor: pointer;

        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;

        background-color: rgb(213, 213, 213);
    }
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.03;
    z-index: -1;
}

.page {
    height: 100vh;
    width: 90vw;

    display: flex;
    flex-direction: row;
}

.page-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.page-content {
    width: 42%;
    padding-left: 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-container {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    font-size: 15px;
}

.arrow {
    width: 20px;
    height: 20px;

    &:hover {
        cursor: pointer;

        transition-property: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
    }

    &.up:hover {
        translate: 0 -5px;
    }

    &.down:hover {
        translate: 0 5px;
    }

    &.left:hover {
        translate: -5px 0;
    }

    &.right:hover {
        translate: 5px 0;
    }
}

#scroll {
    height: 100vh;
    width: 10vw;
    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#scroll .scroll-item {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: transparent;
    border: 1.5px solid black;

    &:hover {
        cursor: pointer;

        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;

        background-color: black;
    }
}

#scroll .scroll-item.selected {
    background-color: black;
}