body {
    margin: 0;
    overflow: hidden;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

h1,
h2,
p {
    margin: 0;
    font-weight: normal;
}

h1 {
    font-family: 'Inter Tight';
    font-size: 80px;
}

h2 {
    font-family: 'Inter Tight';
    font-size: 30px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: rgb(232, 232, 232);
    border: none;
    border-radius: 5px;

    font-family: 'Instrument Sans';
}

#background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.03;
    z-index: -1;
}

section {
    height: 100vh;
    width: 90vw;

    display: flex;
    flex-direction: row;
}

.section-img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.section-content {
    width: 42%;
    padding-left: 7%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Instrument Sans';
}

.p-container {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    font-size: 15px;
}

.arrow {
    width: 20px;
    height: 20px;
}

#scroll {
    height: 100vh;
    width: 10vw;
    position: fixed;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#scroll .scroll-item {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: transparent;
    border: 1.5px solid black;
}

#scroll .scroll-item.selected {
    background-color: black;
}