* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

a {
    color: black;
}

ul, ol {
    margin: 0;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

button a {
    text-decoration: none;
}

/* Containers */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row.vcenter {
    align-items: center;
}

.flex-row.hcenter {
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col.vcenter {
    justify-content: center;
}

.flex-col.hcenter {
    align-items: center;
}

/* Box Properties */

/* Padding */

.left-padding-1 {
    padding-left: 5vw;
}

.left-padding-2 {
    padding-left: 10px;
}

.top-padding-1 {
    padding-top: 15px;
}

.top-padding-2 {
    padding-top: 7px;
}

.right-padding-1 {
    padding-right: 5vw;
}

.right-padding-2 {
    padding-right: 10px;
}

.bottom-padding-1 {
    padding-bottom: 15px;
}

.bottom-padding-2 {
    padding-bottom: 7px;
}

/* Margins */

.left-margin-1 {
    margin-left: 5vw;
}

.left-margin-1_5 {
    margin-left: 20px;
}

.left-margin-2 {
    margin-left: 10px;
}

.top-margin-1 {
    margin-top: 7vh;
}

.top-margin-1_5 {
    margin-top: 3vh;
}

.top-margin-2 {
    margin-top: 5px;
}

.right-margin-1 {
    margin-right: 5vw;
}

.right-margin-1_5 {
    margin-right: 20px;
}

.right-margin-2 {
    margin-right: 10px;
}

.bottom-margin-1 {
    margin-bottom: 7vh;
}

.bottom-margin-1_5 {
    margin-bottom: 3vh;
}

.bottom-margin-2 {
    margin-bottom: 5px;
}

/* Widths */

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

/* Corners */

.rounded-1 {
    border-radius: 10px;
}

.rounded-2 {
    border-radius: 5px;
}

/* Text */

.title-1 {
    font-size: 12.7vh;
    font-family: "Inter Tight";
}

.title-2 {
    font-size: 4.2vh;
    font-family: "Inter Tight";
}

.subtitle-gray-1 {
    ;
}

.subtitle-gray-2 {
    color: gray;
    font-size: 2vh;
}

/* Images */

.icon {
    height: 20px;
    width: auto;
    object-fit: cover;
}

/* Graphical Elements */

.arrow {
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 7px;
    height: 7px;
    background-color: white;
}

.arrow-up {
    transform: rotateZ(45deg);
    margin-bottom: 25px;
}

.arrow-down {
    transform: rotateZ(-135deg);
    margin-top: 25px;
}

.arrow-right {
    transform: rotateZ(135deg);
    margin-left: 25px;
}

.arrow-left {
    transform: rotateZ(-45deg);
    margin-right: 25px;
}

.arrow:hover {
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.arrow-up:hover, button:has(> .arrow-up):hover .arrow-up {
    transition: all 0.1s ease-in;
    transform: translateY(-50%) rotateZ(45deg);
}

.arrow-down:hover, button:has(> .arrow-down):hover .arrow-down {
    transition: all 0.1s ease-in;
    transform: translateY(50%) rotateZ(-135deg);
}

.arrow-right:hover, button:has(> .arrow-right):hover .arrow-right {
    transition: all 0.1s ease-in;
    transform: translateX(50%) rotateZ(135deg);
}

.arrow-left:hover, button:has(> .arrow-left):hover .arrow-left {
    transition: all 0.1s ease-in;
    transform: translateX(-50%) rotateZ(-45deg);
}