.work-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    margin-top: 35px;
}

.work-item-metadata {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    font-size: 13.5px;
    color: rgb(166, 166, 166);

    margin-top: 7px;
}

.work-item-metadata .date-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.work-item-metadata .techs {
    height: 18px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.work-item-metadata .techs img {
    height: 100%;
    object-fit: contain;
}

.work-item button {
    height: 40px;
    padding: 23px 50px;

    font-size: 13px;

    margin-top: 15px;
}

.work-item-scroll {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 13px;

    &.prev {
        justify-content: space-between;

        & div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex;
            gap: 15px;
        }

        & #work-item-count {
            color: rgb(141, 141, 141);
        }
    }

    &.next {
        gap: 15px;

        justify-content: flex-end;
        align-self: flex-end;
    }
}