#work {
    z-index: 8;
}

#work-item-window {
    width: 60vw;
    height: 50vh;
    overflow: hidden;
}

#work-items {
    width: 240vw;
    height: 50vh;
}

.work-item {
    position: relative;
    width: 60vw;
    background-color: white;
}

.work-item-img {
    width: 40%;
    height: 50vh;
    object-fit: cover;
    padding-left: 1px;
}

#work-scrollbar {
    width: 60vw;
    justify-content: flex-end;
}

#work-scrollbar .scroll-item {
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 100%;
    font-size: 12px;
}

#work-scrollbar .scroll-item.selected {
    background-color: black;
    border: 1px solid black;
    color: white;
}

#work-scrollbar .scroll-item:hover {
    cursor: pointer;
    transition: all 0.1s linear;
    transform: scale(1.1);

    /* Attempt to fix the 'jitteriness' of the scale(1.1) transition
    margin: -4.5px -4.5px -4.5px 13.5px;
    width: 33px;
    height: 33px;*/
}

#work-scrollbar .scroll-item:last-child {
    border: none;
    width: auto;
}